<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="font-bold">Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Usuário</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="w-8/12 mt-5 mx-auto px-2 flex justify-between">
    <span class="text-stone-700 font-bold text-xl">Usuário</span>
    <span class="text-stone-700 font-bold text-xl">Pontos</span>
  </div>
    <div class="w-full flex flex-col items-center gap-2 pt-5" *ngFor="let user of users; let i = index">
      <div class="flex w-8/12 border border-primary items-center rounded bg-slate-50 shadow-md px-2 py-5">
        <div class="w-full flex gap-3 items-center">
          <ion-icon *ngIf="i === 0" name="trophy" class="text-amber-400 text-2xl"></ion-icon>
          <ion-icon *ngIf="i === 1" name="trophy" class="text-gray-500 text-2xl"></ion-icon>
          <ion-icon *ngIf="i === 2" name="trophy" class="text-orange-800 text-2xl"></ion-icon>
          <img
            src="https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
            alt="Imagem do usuário"
            class="w-[50px] h-[50px] object-cover rounded-xl shadow-lg"
          />
          <span class="text-stone-700 font-bold text-xl">{{user.user_name }}</span>
        </div>
        <span class="w-8/12 mr-2 text-end text-stone-700 font-bold text-xl">{{user.user_points}}</span>
      </div>
    </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="exit()" class="rounded-full shadow-md">
    <ion-fab-button color="secondary">
      <ion-icon name="log-out" class="text-black"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
