<ion-content>
  <div class="h-full w-screen bg-cover bg-center flex flex-col justify-center">
    <p class="text-4xl text-center font-bold text-[color:#818C69] mb-6 font-sans">Fazer login</p>
    <div class="w-11/12 mx-auto px-5 py-5 h-fit flex flex-col gap-2 rounded-md shadow-lg border border-primary">
      <ion-input
        type="email"
        fill="solid"
        label="Email"
        labelPlacement="floating"
        [(ngModel)]="user.email"
        class="custom border-b border-primary"
        required
      ></ion-input>
      <ion-input
        type="password"
        fill="solid"
        label="Senha"
        labelPlacement="floating"
        [(ngModel)]="user.password"
        class="custom border-b border-primary"
        required
      ></ion-input>

      <ion-button [disabled]="!(user.email?.length > 2 && user.password?.length > 2)" (click)="onSubmit()">
            <span class="font-bold text-white">
              Entrar
            </span>
      </ion-button>
      <p class="text-primary text-sm">
        Não possui conta?
        <span class="font-bold cursor-pointer" routerLink="./sign-up-simpilify">
              Crie uma clicando aqui
            </span>
      </p>
    </div>
  </div>
</ion-content>
