<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="font-bold">Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Usuário</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="w-full h-fit flex justify-center pt-8">
    <div *ngIf="!user?.imageUrl || !user?.birthdate" class="h-screen">
      <div class="w-full flex flex-col items-center justify-center mt-2">
        <img
          src="https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
          alt="Imagem do usuário"
          class="w-[150px] h-[150px] object-cover rounded-xl shadow-lg"
        />
        <span *ngIf="user?.name" class="font-bold text-2xl text-primary mt-2">{{ user?.name }}</span>

        <p class="text-primary text-md w-8/12 mx-auto mt-8">
          <strong>Bem-vindo</strong> à sua plataforma ESG! Aqui você encontra as melhores ferramentas para impulsionar práticas sustentáveis, inovação e impacto positivo. Vamos juntos construir um futuro mais responsável!

          Caso queira algo mais personalizado, posso ajustar o tom e a mensagem para se alinhar melhor à identidade da plataforma!
        </p>
      </div>

    </div>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="exit()" class="rounded-full shadow-md">
    <ion-fab-button color="secondary">
      <ion-icon name="log-out" class="text-black"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
